<%= form_for [summary,content], :url => url_for(:controller => 'contents',
                                               :action => 'create',
                                               :nickname => current_user.nickname) do |f| %>

    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key.to_s.split('_').first %>">
          <%= value %>
        </div>
    <% end %>

    <% if content.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(content.errors.count, "error") %> prohibited this summary from being saved:</h2>

          <ul>
            <% content.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label t('user.summaries.forms.url', kind:'Slack') %>
      <%= f.text_area :slack_url, {:class => 'form-control', :rows => 10} %>
    </div>

    <div class="actions">
      <%= f.submit :class => 'btn btn-primary btn-sm' %>
      <%= link_to t('user.summaries.forms.cancel'), summaries_path(current_user.nickname) %>
    </div>
<% end %>