<%= form_with(model: content, local: true) do |form| %>
  <% if content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(content.errors.count, "error") %> prohibited this content from being saved:</h2>

      <ul>
      <% content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :content_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :content_last_name %>
  </div>

  <div class="field">
    <%= form.label :slack_url %>
    <%= form.text_field :slack_url, id: :content_slack_url %>
  </div>

  <div class="field">
    <%= form.label :slack_message %>
    <%= form.text_field :slack_message, id: :content_slack_message %>
  </div>

  <div class="field">
    <%= form.label :summary_id %>
    <%= form.text_field :summary_id, id: :content_summary_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
