<p id="notice"><%= notice %></p>

<h1>Slacks</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Password digest</th>
      <th>Profile img url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @slacks.each do |slack| %>
      <tr>
        <td><%= slack.first_name %></td>
        <td><%= slack.last_name %></td>
        <td><%= slack.email %></td>
        <td><%= slack.password_digest %></td>
        <td><%= slack.profile_img_url %></td>
        <td><%= link_to 'Show', slack %></td>
        <td><%= link_to 'Edit', edit_slack_path(slack) %></td>
        <td><%= link_to 'Destroy', slack, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Slack', new_slack_path %>
