<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @slack.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @slack.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @slack.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @slack.password_digest %>
</p>

<p>
  <strong>Profile img url:</strong>
  <%= @slack.profile_img_url %>
</p>

<%= link_to 'Edit', edit_slack_path(@slack) %> |
<%= link_to 'Back', slacks_path %>
