<p id="notice"><%= notice %></p>

<h1>Summaries</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Slack</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @summaries.each do |summary| %>
      <tr>
        <td><%= summary.title %></td>
        <td><%= summary.slack %></td>
        <td><%= link_to 'Show', summary %></td>
        <td><%= link_to 'Destroy', summary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Summary', new_summary_path %>
