<div class="col-md-10">
  <h3><strong><%= t('user.summaries.title') %></strong></h3>
</div>
<div class="col-md-2" style="margin-left:auto;">
  <div style="text-align:right;">
    <%= link_to t('user.summaries.forms.create'), new_summary_path(current_user.nickname), {
        :class => 'btn btn-sm btn-primary',
        :style => 'color:white;'} %>
  </div>
</div>

<% if @summaries.count != 0 %>
    <table class="table table-striped table-responsive table-hover summaries">
      <thead>
      <tr>
        <th><%= t('user.summaries.tables.row_1_title') %></th>
        <th><%= t('user.summaries.tables.row_2_count') %></th>
        <th colspan="2"></th>
      </tr>
      </thead>

      <tbody>
      <% @summaries.each do |summary| %>
          <tr>
            <td><%= link_to summary.title, summary_path(current_user.nickname, summary.id) %></td>
            <td><%= summary.contents.size %></td>
            <td><%= link_to t('commons.add'), new_summary_content_path(current_user.nickname, summary.id), {
                :class => 'btn btn-info btn-sm'
            } %></td>
            <td><%= link_to t('commons.delete'),
                            delete_summary_path(current_user.nickname,summary.id),
                            {
                                :method => :delete,
                                :class  => 'btn btn-danger btn-sm',
                                :style  => 'color:white;',
                                :data   => {confirm: t('commons.are_you_sure')}
                            }
                             %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>


