<h3><strong><%= @summary.title %></strong></h3>
<br>
<% @contents.each do |content| %>
    <ul class="list-unstyled">
      <li class="media">
        <div class="media-left">
          <%= image_tag(content.profile_image_48_url, {
              :class => 'd-flex align-self-start mr-3',
              :alt   => 'Generic placeholder image'}) %>
        </div>
        <div class="media-body">
          <h5 class="media-title mt-0 mb-1"><strong><%= content.name %></strong></h5>
          <p style="word-wrap:break-word;"><%= content.slack_message %></p>
        </div>
        <div class="media-right">
          <%= link_to t('commons.delete'), summary_content_path(@summary.id,content.id), {
             :class => 'btn btn-danger btn-sm',
             :style => 'color:white;',
             :method => :delete,
             :data => { confirm: t('commons.are_you_sure') }
          } %>
        </div>
      </li>
      <hr>
    </ul>
<% end %>

<div class="actions">
  <%= link_to t('user.summaries.forms.back'), summaries_path, {
      :class => 'btn btn-sm btn-primary',
      :style => 'color:white;'
       } %>
</div>

